[buildserver]

[build-linux-64-slaves]

[build-linux-32-slaves]

[build-windows-64-slaves]

[build-windows-32-slaves]

# Setup WinRm to be able to connect windows slaves
# https://docs.ansible.com/ansible/latest/user_guide/windows_setup.html#winrm-setup

[build-windows-slaves:children]
build-windows-64-slaves
build-windows-32-slaves

[buildserver-windows-slaves:children]
build-windows-slaves

[build-linux-slaves:children]
build-linux-64-slaves
build-linux-32-slaves

[buildserver-linux-slaves:children]
build-linux-slaves

[linux-all:children]
buildserver-linux-slaves
